#Q1 Explain the key features of Python that make it a popular choice for programming.

'''Python's popularity stems from its unique combination of features, making it an ideal choice for various programming tasks.

the key features:

Easy to Learn and Use
1. Simple syntax: Concise and readable code.
2. Forgiving: Allows for flexible coding styles.
3. Extensive libraries: Standard library and third-party modules.

Versatile
1. General-purpose: Suitable for web development, data analysis, machine learning, automation, and more.
2. Cross-platform: Runs on Windows, macOS, Linux, and mobile platforms.
3. Embeddable: Can be integrated into other applications.

Powerful
1. Dynamic typing: No need for explicit type definitions.
2. Object-oriented: Supports encapsulation, inheritance, and polymorphism.
3. Functional programming: Supports lambda functions, map, filter, and reduce.

High-Level Abstractions
1. Automatic memory management: Garbage collection.
2. High-level data structures: Lists, dictionaries, sets, and tuples.
3. Exception handling: Built-in support for error handling.

Large Community and Ecosystem
1. Extensive libraries and frameworks (e.g., NumPy, pandas, Flask, Django).
2. Active community: Forums, documentation, and conferences.
3. Easy package management: pip and conda.'''

#Q2 Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

## '''In Python, predefined keywords (or reserved words) are special words that have specific meanings and uses. They're essential for writing Python code.

Role of Predefined Keywords:

1.Conditional statements:
- if
-elif
-else




2.Loops:

- for
- while
3.Data types:

    - int
    - float
    - str
    - list
    - dict
    - tuple
    - set
    - bool
4.Functions:

    - def
    - lambda
5.Control flow:

    - break
    - continue
    - return
     -yield
6.Exception handling:

    - try
    - except
    - finally
7.Classes:

  -class

8.Import Keywords:
 - import
 - from
 - as

9.Miscellaneous Keywords:
-  and
- or
-  not
-  in
-  is
- True
-  False
-  None
-  pass
-  print
-  del
- global
- nonlocal

In [ ]:
#examples of how they are used in a program

#Conditional Statements:
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is greater than 5

In [ ]:
marks = 85
if (marks >= 90 and marks <= 100):
    print("Grade: A")
elif (marks >= 70 and marks < 90):
    print("Grade: B")
elif marks >= 50 and marks < 70:
    print("Grade: C")
elif marks >=33 and marks < 50:
    print("Grade: D")
else:
  print("fail")

Grade: B

In [ ]:
#data types
x = 45
print(type(x))

<class 'int'>

In [ ]:
fruit_list =["apple","banana","mango"]
print(type(fruit_list))

<class 'list'>

In [ ]:
Name  = "mukki"
print(type(Name))

<class 'str'>

In [ ]:
float_num = 3.14
print(type(float_num))

<class 'float'>

In [ ]:
#control flow
n = 7
i = 1
while i < n :
  print(i)
  i  = i +1

1
2
3
4
5
6

In [ ]:
for i in range(10):
  print(i)
  if i ==5:
    break

0
1
2
3
4
5

In [ ]:
for i in range(10):
  if i ==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9
all the number

#Q3 compare and contrast mutable and immutable obejcts in python with examples

# Mutable Objects in Python--

## mutable objects refer to entities whose internal state can be altered after creation. Once instantiated, these objects allow modifications to their values, offering flexibility in data manipulation.'''

In [ ]:
#example of mutable obejcts in python

my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
list1 =["rohit",45,"delhi"]
list1[0] ="rohan"
print(list1)

['rohan', 45, 'delhi']

# Immutable Objects in Python
## Immutable Objects are of in-built datatypes like int, float, bool, string, Unicode, and tuple. In simple words, an immutable object can’t be changed after it is created.

In [ ]:
#example of immutable obejcts in python

tuble1 = (1,2,3,4)
tuble1[0]= 45

type(tuble1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#example

str1 = "rohit"
str1[0] = "r"

TypeError: 'str' object does not support item assignment

## Q4 Discuss the different types of operators in Python and provide examples of how they are used

#* types of operators
# An operator is a symbol that performs a certain operation between operands

# 1 arithmetic operators-
## Arithmetic operators are used with numeric values to perform common mathematical operations:


  

1. Addition(+)
2. Subtraction(-)
3. Multiplication(*)
4. Division(/)
5. Modulus(%)
6. Exponentiation	(**)
7. Floor division(//)

In [ ]:
# example of arithmatic operators

x = 4
y =2
print("addition :" , x+y)
print("Subtraction :" , x-y)
print("Multiplication :", x*y)
print("Division :" , x/y)
print("Modulus :", x % y)
print("Exponentiation:", x**y)
print("Floor division:" , x//y)

addition : 6
Subtraction : 2
Multiplication : 8
Division : 2.0
Modulus : 0
Exponentiation: 16
Floor division: 2

# Python Assignment Operators
## Assignment operators are used to assign values to variables:

1.Assign(=)

2.Add and assign(+=)

3.Subtract and Assign(-=)

4.Multiply and Assign(*=)

5.Divide and Assign(/=)

6.Floor Divide and Assign(//=)

7.Exponentiate and Assign(**=)

8.Modulus and Assign(%=)

In [ ]:
#examples of assignment orperators
x = 8
print("assign(=):" , x)

assign(=): 8

In [ ]:
x = 8
x+=3
print("Add and assign(+=):",x)

Add and assign(+=): 11

In [ ]:
x = 8
x-=3
print("Subtract and Assign(-=):",x)

Subtract and Assign(-=): 5

In [ ]:
x = 8
x*=3
print("Multiply and Assign(*=):" , x)

Multiply and Assign(*=): 24

In [ ]:
x = 8
x/=3
print("Divide and Assign(/=):" , x)

Divide and Assign(/=): 2.6666666666666665

In [ ]:
x = 8
x//=3
print("Floor Divide and Assign(//=):" , x)

Floor Divide and Assign(//=): 2

In [ ]:
x = 8
x**=3
print("Exponentiate and Assign(**=):" , x)

Exponentiate and Assign(**=): 512

In [ ]:
x = 8
x%=3
print("Modulus and Assign(%=):" , x)

Modulus and Assign(%=): 2

# Python Comparison Operators-
## Comparison operators are used to compare two values:

1. Equal(==)
2. Not equal(!=)
3. Greater than(>)
4. less than(<)
5. 	Greater than or equal to(>=)
6. less than or equal to (<=)

In [ ]:
#example of comparion operators

a = 10
b = 20
print("equal(==):" , a==b)
print("not equal(!=):" , a!=b)
print("greater than(>):" , a>b)
print("less than(<):" , a<b)
print("greater than or equal to(>=):" , a>=b)
print("less than or equal to(<=):" , a<=b)

equal(==): False
not equal(!=): True
greater than(>): False
less than(<): True
greater than or equal to(>=): False
less than or equal to(<=): True

# Python Logical Operators
## Logical operators are used to combine conditional statements:

## 1. and (Returns True if both statements are true)
## 2. or(Returns True if one of the statements is true	)
## 3. not(	Reverse the result, returns False if the result is true)

In [ ]:
#example of logical operators

num1=20
num2=20
print("and logical operators:", num1>=num2 and num2>=num1)

and logical operators: True

In [ ]:
x = 10
y = 20
print("or logical operators:" , x>y or y>x)

or logical operators: True

In [ ]:
a = 40
b = 20
print("not logical operators:",not(a>b))

not logical operators: False

## Python Identity Operators

## Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

## 1. is (Returns True if both variables are the same object)
## 2.is not	(Returns True if both variables are not the same object)

In [ ]:
#example  of Python Identity Operators

name = "rohit"
name1 = "rohit"
print("is identity operators:" , name is name1)

is identity operators: True

In [ ]:
a = "car"
b = "bike"
print("is not identity operators:",a is not b)

is not identity operators: True

# Python Membership Operators

## Membership operators are used to test if a sequence is presented in an object:

## 1. in (Returns True if a sequence with the specified value is present in the object)
## 2. not in	(Returns True if a sequence with the specified value is not present in the object)

In [ ]:
#example of membership operators

list1 = [1,2,3,4,5]
print("in membership operators:" , 2 in list1)

in membership operators: True

In [ ]:
list2 = [1,2,3,4,5]
print("not in membership operators:" , 6 not in list2)

not in membership operators: True

# Python Bitwise Operators
## Bitwise operators are used to compare (binary) numbers:

##> Bitwise AND(&) :	Result bit 1, if both operand bits are 1; otherwise results bit 0.

## >Bitwise OR(|)	:Result bit 1, if any of the operand bit is 1; otherwise results bit 0.

## >Bitwise XOR(^) :	Result bit 1, if any of the operand bit is 1 but not both, otherwise results bit 0.

## >Bitwise NOT(~) : Inverts individual bits.

## >Bitwise right shift(>>) : The left operand’s value is moved toward right by the number of bits .

## >Bitwise left shift(<<) : The left operand’s value is moved toward left by the number of bits .

In [5]:
# example of bitwise operators
x = 17
y = 3
print("bitwise and operators : ",x & y)
print("bitwise or operators : ",x | y)
print("bitwise xor operators : ",x ^ y)
print("bitwise not operators : ", ~ y)
print("bitwise right shift operators : ",x >> y)
print("bitwise left shift operators : ",x << y)

bitwise and operators :  1
bitwise or operators :  19
bitwise xor operators :  18
bitwise not operators :  -4
bitwise right shift operators :  2
bitwise left shift operators :  136

# Q5 Explain the concept of type casting in Python with examples

# the conversion of one data type into  the other data type is known as type casting in python or type conversion in python



# *  Two types of typecasting
## 1. explicit typecasting
## 2. implicit typecasting


# 1. expilicit typecasting-
## the coversion of one data type into another type , done programmer's intervention or manually as per the requirement , is known as explicit typecasting.

## It can be achieved with the help of python's built in type conversion function such as int(),float(),str()etc.

In [ ]:
# example
# string to integer
string ="45"
number =45
print(int(string)+number)
print(type(int(string)))

90
<class 'int'>

In [ ]:
# float to integer
float_num = 3.14
int_num = 10
print(int(float_num+int_num))
print(type(int(float_num+int_num)))

13
<class 'int'>

In [ ]:
# string to float
string_num="10"
print(float(string_num))
print(type(float(string_num)))

10.0
<class 'float'>

In [ ]:
# float to string
float_ = 1.5
str(float_)

'1.5'

In [ ]:
# integer to float
int_ = 10
float(int_)

10.0

In [ ]:
# complex to string
complex = 1+2j
str(complex)

'(1+2j)'

In [ ]:
# #character cannot be converted into numbers
a = "school"
int(a)

ValueError: invalid literal for int() with base 10: 'school'

# 2.implicit typecasting:

## Data types in Python do not have the same level . ordering of data types is not the same in Python. Some of the data types have higher-order, and some have lower order. While performing any operations on variables with different data types in Python, one of the variable's data types will be changed to the higher data type. According to the level, one data type is converted into other by the Python interpreter itself (automatically). This is called, implicit typecasting in python.

In [ ]:
# example
x = 12
y = 12.5
print(x+y)
print(type(x+y))

24.5
<class 'float'>

## Q6 How do conditional statements work in Python? Illustrate with examples





### * Conditional Statements are statements in Python that provide a choice for the control flow based on a condition. It means that the control flow of the Python program will be decided based on the outcome of the condition.  

# 1. If Conditional Statement in Python
### If the simple code of block is to be performed if the condition holds then the if statement is used. Here the condition mentioned holds then the code of the block runs otherwise not.

# Syntax of If Statement:

# if condition:
    # Statements to execute if
    # condition is true

In [1]:
# if statement example
if 10 > 5:
    print("10 greater than 5")

print("Program ended")

10 greater than 5
Program ended

## 2. If else Conditional Statements in Python
## In a conditional if Statement the additional block of code is merged as an else statement which is performed when if condition is false.

## Syntax of Python If-Else:

## if (condition):
    # Executes this block if
    # condition is true
# else:
    # Executes this block if
    # condition is false

In [2]:
# if..else statement example
x = 10
y = 20
if x > y:
    print("x is greater than y")
else:
    print("x is not greater than y")

x is not greater than y

# 3. Nested if..else Conditional Statements in Python
## Nested if..else means an if-else statement inside another if statement. Or in simple words first, there is an outer if statement, and inside it another if – else statement is present and such type of statement is known as nested if statement. We can use one if or else if statement inside another if or else if statements.

In [3]:
# nested if..else example
traffic_light = "green"

if traffic_light == "green":
  print("green : go")
else:
  if traffice_light == "yellow":
    print("yellow : slow down ")
  else:
    if traffic_light == "red":
        print("red : stop")
    else:
          print("safe drive")

green : go

# 4. If-elif-else Conditional Statements in Python
## The if statements are executed from the top down. As soon as one of the conditions controlling the if is true, the statement associated with that if is executed, and the rest of the ladder is bypassed. If none of the conditions is true, then the final “else” statement will be executed.

In [9]:
# if-elif statement example

marks =78
if (marks >=80) and (marks <=100):
  print("Grade: A")
elif (marks >=70) and (marks < 80):
  print("Grade: B")
elif (marks >=50) and (marks < 70):
  print("Grade: C)")
elif (marks >=33) and (marks < 50):
  print("Grade: D")
else:
  print("Fail")

Grade: B

# Q7 Describe the different types of loops in Python and their use cases with examples

# Python Loop
### Python has two primitive loop commands:



*   while loop
*   for loop

# While Loop in Python
## In Python, a while loop is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false, the line immediately after the loop in the program is executed.

In [13]:
# example of while loop
x = 0
while x < 10:
  print(x)
  x = x+1

0
1
2
3
4
5
6
7
8
9

# Using else statement with While Loop in Python
## The else clause is only executed when your while condition becomes false. If you break out of the loop, or if an exception is raised, it won’t be executed.

In [15]:
x = 0
while x < 6:
  print(x)
  x = x+1
else:
  print("out of loop ")

0
1
2
3
4
5
out of loop

# for loop in python
## The For Loops in Python are a special type of loop statement that is used for sequential traversal. Python For loop is used for iterating over an iterable like a String, Tuple, List, Set, or Dictionary.

In [16]:
# example of for loop
for i in range(5):
  print(i)

0
1
2
3
4

# The break Statement
## With the break statement we can stop the loop even if the while condition is true:

In [23]:
for i in range (6):
  print(i)
  if i ==5:
    break

0
1
2
3
4
5

# The continue Statement
## With the continue statement we can stop the current iteration, and continue with the next:

In [22]:
for i in range(8):
  if i == 4:
    continue
  print(i)

0
1
2
3
5
6
7